.recuadro-contacto {
  background-color: #818181;
  
  .recuadro-input {
    width: 400px;
  }

  .marco-logo {
    width: 368px;
    border-color: white;
    border-width: medium;
    border-style: solid;
  }
}